extends layout

block content
  #wrapper
    #response.info
    h2 Send decision
    #newDecision
      fieldset
        input#inputDecisionName(type='text', placeholder='Decision Name')
        br
        label Descision Type
          select#decisionType
            option(value='Concensus') Concensus
            option(value='Vote') Vote
        br
        textarea#inputDescription(type='text', placeholder='Description')
        br
        button#btnSendDecision SendDecision

  script(src='/javascripts/admin/decisionscript.js')

