extends layout

block content
	.container
		h2 Player 
			span#idPlayer
		h2 Profile
		#profile.list
			table
				thead
					th Name
					th Marital Status
					th Profession
					th Description
				tbody
		h2 Resources
		#resources.list
			table
				thead
					th Name
					th Unit
					th Value
				tbody
		h2 Objectives
		#objectives.list
			table
				thead
					th Title
					th Description
					th Resource
					th Value to reach
				tbody
		h2 Objects
		#objects.list
			table
				thead
					th Title
					th Description
					th Price
				tbody
		h2 Actions
		#actions.list
			table
				thead
					th Title
					th Description
					th Effect
				tbody

	script(src='/javascripts/admin/editplayerscript.js')