extends layout

block content
  .container
    #eventInfo.info
      h2 Event Info
      p
        strong Title :
        |  <span id='eventInfoTitle'></span>
        br
        strong Description :
        |  <span id='eventInfoDescription'></span>
        br
      h2 Effects :
      p#effects


    h2 Events List
    #eventList.list
      table
        thead
          th Title
          th Description
          th Type
          th Delete ?
          th Send to
          th Send
        tbody

    h2#displayAddForm.displayTitle New event 
      span.caret
    #addEvent.notDisplayed
      form.form-horizontal
        .form-group
          label.col-sm-2.control-label(for="inputEventTitle") Title
          .col-sm-10
            input#inputEventTitle.form-control(type='text', placeholder='Event title')
        .form-group
          label.col-sm-2.control-label(for="inputEventCommon") Type
          .col-sm-10
            .checkbox
              label
                input#inputEventCommon(type="checkbox")
                | Common event
        .add_input_effects
          .form-group
            label.col-sm-2.control-label(for="inputEventResource") Resource
            .col-sm-4
              select.resource.form-control
            label.col-sm-1.control-label Effect
            .col-sm-4
              input.effect.form-control(type='text', placeholder='Effect')
            .col-sm-1
              button.add_field_button.btn.btn-warning
                span +
        .form-group
          label.col-sm-2.control-label Description
          .col-sm-10
            textarea#inputEventDescription.form-control(type='text', placeholder='Description')
        .form-group
          .col-sm-offset-2.col-sm-10
            button#btnAddEvent.btn.btn-success Add event


    h2 Edit event
    #editEvent.notDisplayed
      fieldset
        input#editEventId(type='hidden')
        input#editEventTitle(type='text', placeholder='Event title')
        input#editEventDescription(type='text', placeholder='Description')
        br
        div.add_input_effects
          div
        button.add_field_button Add More Fields

        button#btnEditEvent Edit event
    script(src='/javascripts/admin/eventscript.js')
