extends layout

block content
  #wrapper
    #eventInfo.info
      h2 Event Info
      p
        strong Title :
        |  <span id='eventInfoTitle'></span>
        br
        strong Description :
        |  <span id='eventInfoDescription'></span>
        br
      h2 Effects :
      p#effects


    h2 Events List
    a.new(href="#") new event
    #eventList.list
      table
        thead
          th Title
          th Description
          th Delete ?
        tbody
    #addEvent
    h2 Add an event
    fieldset
      input#inputEventTitle(type='text', placeholder='Event title')
      input#inputEventDescription(type='text', placeholder='Description')
      br
      div.add_input_effects
        div
          select.resource
          input.effect(type='text', placeholder='Effect') 
          a.remove_field(href="#")  Remove
      button.add_field_button Add More Fields
      button#btnAddEvent Add event

    #editEvent
    h2 Edit an event
    fieldset
      input#editEventId(type='hidden')
      input#editEventTitle(type='text', placeholder='Event title')
      input#editEventDescription(type='text', placeholder='Description')
      br
      div.add_input_effects
        div
      button.add_field_button Add More Fields

      button#btnEditEvent Edit event
    script(src='/javascripts/eventscript.js')
