doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style-admin.css')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/socket.io.js')
    script(src='/javascripts/admin/global.js')
    script(src='/javascripts/admin/routine.js')
  body
    div.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      #navbar-header
        button(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1').navbar-toggle.collapsed
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='#') Admin

      ul.nav.navbar-nav.pull-left
        li
          a(href='/objectives/admin') Objectives
        li
          a(href='/objects/admin') Objects
        li
          a(href='/events/admin') Events
        li
          a(href='/actions/admin') Actions
        li
          a(href='/cities') Map
        li
          a(href='/players/admin') Players
        li
          a(href='/profiles/admin') Profiles
        li
          a(href='/resources/admin') Resources
        li
          a(href='/decisions/admin') Decisions
        li
          a(href='/logs/list') Logs
      ul.nav.navbar-nav.pull-right
        li
          a#init(href='#') init city
    block content

