extends layout

block content
  .container
    #objectInfo.info
      h2 Object Info
      p
        strong Title :
        |  <span id='objectInfoTitle'></span>
        br
        strong Description :
        |  <span id='objectInfoDescription'></span>
        br
      h2 Effects :
      p#effects


    h2 Objects List
    #objectList.list
      table
        thead
          th Title
          th Description
          th Type
          th Delete ?
        tbody

    h2#displayAddForm.displayTitle New object 
      span.caret
    #addObject
      form.form-horizontal
        .form-group
          label.col-sm-2.control-label(for="inputObjectTitle") Title
          .col-sm-10
            input#inputObjectTitle.form-control(type='text', placeholder='Object title')
        .form-group
          label.col-sm-2.control-label(for="inputObjectCommon") Type
          .col-sm-10
            .checkbox
              label
                input#inputObjectCommon(type="checkbox")
                | Common object
        .form-group
            label.col-sm-2.control-label Resource
            .col-sm-4
              select.resource.form-control
            label.col-sm-1.control-label Price
            .col-sm-4
              input#inputObjectPrice.effect.form-control(type='text', placeholder='Cost of the object')
        .add_input_effects
          .form-group
            label.col-sm-2.control-label Resource
            .col-sm-4
              select.resource.form-control
            label.col-sm-1.control-label Effect
            .col-sm-4
              input.effect.form-control(type='text', placeholder='Effect of the object')
            .col-sm-1
              button.add_field_button.btn.btn-warning
                span +
        .form-group
          label.col-sm-2.control-label Description
          .col-sm-10
            textarea#objectDescription.form-control(type='text', placeholder='Description')
        .form-group
          .col-sm-offset-2.col-sm-10
            button#btnAddObject.btn.btn-success Add object


    h2 Edit Object
    #editObject.notDisplayed
      form.form-horizontal
        input#editObjectId(type='hidden')
        .form-group 
          label.col-sm-2.control-label(for="editObjectTitle") Title
          .col-sm-10 
            input#editObjectTitle.form-control(type='text', placeholder='Object title')
        .form-group
          label.col-sm-2.control-label Resource
          .col-sm-4
            select.resource.form-control
          label.col-sm-1.control-label Price
          .col-sm-4
            input.effect.form-control(type='text', placeholder='Cost of the object')
        .form-group 
          label.col-sm-2.control-label(for="editObjectDescription") Description
          .col-sm-10 
            input#editObjectDescription.form-control(type='text', placeholder='Description')
        .add_input_effects.form-group
          button.add_field.btn.btn-warning Add More Fields

        button#btnEditObject.btn.btn-warning Edit Object
    script(src='/javascripts/admin/objectscript.js')
