extends layout

block content
  .container
    #objectifInfo.info
      h2 Objective Info
      p
        strong Title : 
        span#objectifInfoTitle
        br
        strong Description : 
        span#objectifInfoDescription
        br
        strong Resource : 
        span#objectifInfoResource
        br
        strong Value to reach : 
        span#objectifInfoAchieve
        br
        strong Reward resource : 
        span#objectifInfoReward
        br
        strong Reward value : 
        span#objectifInfoRewardValue

    h2 Objectives List
    #objectifList.list
      table
        thead
          th Title
          th Description
          th Type
          th Delete ?
          th Send to
          th Send
        tbody

    h2#displayAddForm.displayTitle New objective 
       span.caret 
    #addObjectif
      form.form-horizontal
        .form-group
          label.col-sm-2.control-label(for="inputObjectifTitle") Title
          .col-sm-10
            input#inputObjectifTitle.form-control(type='text', placeholder='Objective title')
        .form-group
          label.col-sm-2.control-label(for="inputObjectifCommon") Type
          .col-sm-10
            .checkbox
              label
                input#inputObjectifCommon(type="checkbox") 
                | Common objective
        .form-group
          label.col-sm-2.control-label(for="inputObjectifResource") Resource
          .col-sm-5
            select#inputObjectifResource.resource.form-control
          label.col-sm-1.control-label(for="inputObjectifAchieve") Value
          .col-sm-4
            input#inputObjectifAchieve.form-control(type='text', placeholder='Value to reach')
        .form-group
          label.col-sm-2.control-label Reward
          .col-sm-5
            select#inputObjectifRewardResource.resource.form-control
          label.col-sm-1.control-label Value
          .col-sm-4
            input#inputObjectifRewardValue.form-control(type='text', placeholder='Reward value')
        .form-group
          label.col-sm-2.control-label(for="inputObjectifDescription") Description
          .col-sm-10
            textarea#inputObjectifDescription.form-control(type='text', placeholder='Description')
        .form-group
          .col-sm-offset-2.col-sm-10
            button#btnAddObjectif.btn.btn-success Add objective

    h2 Edit objective
    #editObjectif.notDisplayed
      form.form-horizontal
          input#editObjectifId(type='hidden')
          .form-group
            label.col-sm-2.control-label(for="editObjectifTitle") Title
            .col-sm-10
              input#editObjectifTitle.form-control(type='text')
          .form-group
            label.col-sm-2.control-label(for="editObjectifCommon") Type
            .col-sm-10
              .checkbox
                label
                  input#editObjectifCommon(type="checkbox") 
                  | Common objective
          .form-group
            label.col-sm-2.control-label(for="editObjectifResource") Resource
            .col-sm-5
              select#editObjectifResource.resource.form-control
            label.col-sm-1.control-label(for="editObjectifAchieve") Value
            .col-sm-4
              input#editObjectifAchieve.form-control(type='text', placeholder='Value to reach')
          .form-group
            label.col-sm-2.control-label Reward
            .col-sm-5
              select#editObjectifRewardResource.resource.form-control
            label.col-sm-1.control-label Value
            .col-sm-4
              input#editObjectifRewardValue.form-control(type='text', placeholder='Reward value')
          .form-group
            label.col-sm-2.control-label(for="editObjectifDescription") Description
            .col-sm-10
              textarea#editObjectifDescription.form-control(type='text', placeholder='Description')
          .form-group
            .col-sm-offset-2.col-sm-10
              button#btnEditObjectif.btn.btn-warning Edit objective

  script(src='/javascripts/admin/objectifscript.js')
