extends layout

block content
  #wrapper
    #objectifInfo.info
      h2 Objective Info
      p
        strong Title :
        |  <span id='objectifInfoTitle'></span>
        br
        strong Description :
        |  <span id='objectifInfoDescription'></span>
        br
        strong Resource :
        |  <span id='objectifInfoResource'></span>
        br
        strong Value to reach :
        |  <span id='objectifInfoAchieve'></span>
        br

    h2 Objectives List
    #objectifList.list
      table
        thead
          th Title
          th Description
          th Type
          th Delete ?
          th Send to
          th Send
        tbody

    #addObjectif
      h2 Add an objective
      fieldset
        input#inputObjectifTitle(type='text', placeholder='Objective title')
        label Common objective ?
        input#inputObjectifCommon(type='checkbox')
        //br
        //select#inputObjectifPlayers(name='players', size='10', multiple='multiple')
        br
        select#inputObjectifResource.resourceSelect
        input#inputObjectifAchieve(type='text', placeholder='Value to reach')
        br
        textarea#inputObjectifDescription(type='text', placeholder='Description')
        br
        //- button.add_field_button Add More Fields
        button#btnAddObjectif Add objective

    #editObjectif
      h2 Edit an objective
      fieldset
        input#editObjectifId(type='hidden')
        input#editObjectifTitle(type='text', placeholder='Objective title')
        input#editObjectifDescription(type='text', placeholder='Description')
        br
        select#editObjectifResource.resourceSelect
        input#editObjectifAchieve(type='text', placeholder='Effect')
        br
        //- button.add_field_button Add More Fields
        button#btnEditObjectif Edit objective

    h2
      a#updateView(href="#") UPDATE

  script(src='/javascripts/admin/objectifscript.js')
