extends layout

block content
	.container
		h2 Connected players
		#connectedPlayers.list
			table
				thead
					th Player
					th Money
					th Energy
					th Satisfaction
					th Score
					th Kick
				tbody

		h2
			a#deleteAll(href="#") KICK ALL PLAYERS

	script(src='/javascripts/admin/playerscript.js')
