extends layout

block content
	#wrapper
		#connectedPlayers.list
			h2 Connected players
			table
				thead
					th Player
					th Money
					th Energy
					th Satisfaction
					th Score
					th Delete
				tbody

		h2 
			a#deleteAll(href="#") DELETE ALL PLAYERS

		script(src='/javascripts/admin/playerscript.js')