extends layout

block content
  .container
    #profileInfo.info
      h2 Profile info
      p
        strong Gender : 
        span#profileInfoGender
        br
        strong Name : 
        span#profileInfoName
        br
        strong Image :
        span#profileInfoImage
        br
        strong Marital Status : 
        span#profileInfoMaritalStatus
        br
        strong Profession : 
        span#profileInfoProfession
        br
        strong Description : 
        span#profileInfoDescription
        br
      strong Income : 
      br
      #profileInfoIncome
      br
      strong Expenses :
      br
      #profileInfoExpenses


    h2 Profiles list
    #profilesList.list
      table
        thead
          th Name
          th Marital status
          th Profession
          th Description
          th Delete ?
          th Send To
          th Send
        tbody

    h2#displayAddForm.displayTitle New profile 
       span.caret 
    #addProfile
      form.form-horizontal
        .form-group
          label.col-sm-2.control-label(for="inputProfileGender") Gender
          .col-sm-10
            .radio-inline
              label
                input(type='radio', name='inputProfileGender', value='Male')
                |Male
            .radio-inline
              label
                input(type='radio', name='inputProfileGender', value='Female')
                |Female
        .form-group
          label.col-sm-2.control-label(for="inputProfileName") Name
          .col-sm-10
            input#inputProfileName.form-control(type='text', placeholder='Profile name')
        .form-group
          label.col-sm-2.control-label(for="inputProfileImage") Image
          .col-sm-10.listProfileImages
        .form-group
          label.col-sm-2.control-label(for="inputProfileMaritalStatus") Marital status
          .col-sm-10
            .radio-inline
              label
                input(type='radio', name='inputProfileMaritalStatus', value='Single')
                |Single
            .radio-inline
              label
                input(type='radio', name='inputProfileMaritalStatus', value='Married')
                |Married
            .radio-inline
              label
                input(type='radio', name='inputProfileMaritalStatus', value='Divorced')
                |Divorced
            .radio-inline
              label
                input(type='radio', name='inputProfileMaritalStatus', value='Widowed')
                |Widowed
        .form-group
          label.col-sm-2.control-label(for="inputProfileProfession") Profession
          .col-sm-10
            input#inputProfileProfession.form-control(type='text', placeholder='Profession')
        .form-group
          label.col-sm-2.control-label(for="inputProfileDescription") Description
          .col-sm-10
            textarea#inputProfileDescription.form-control(type='text', placeholder='Description')
        .form-group
          label.col-sm-2.control-label Income
          .col-sm-2
            input#inputProfileSalary.form-control(type='text', placeholder='Salary')
          .col-sm-2
            input#inputProfileSocialWelfare.form-control(type='text', placeholder='Social welfare')
          label#totalI.col-sm-2.control-label 
        .form-group
          label.col-sm-2.control-label Expenses
          .col-sm-2
            input#inputProfileRent.form-control(type='text', placeholder='Rent')
          .col-sm-2
            input#inputProfileEnergy.form-control(type='text', placeholder='Energy')
          .col-sm-2
            input#inputProfileFood.form-control(type='text', placeholder='Food')
          .col-sm-2
            input#inputProfileTransportation.form-control(type='text', placeholder='Transportation')
          .col-sm-2
            input#inputProfileEducation.form-control(type='text', placeholder='Education, leisure, culture')
          .col-sm-offset-2.col-sm-2
            input#inputProfileRestaurants.form-control(type='text', placeholder='Restaurants')
          .col-sm-2
            input#inputProfileClothing.form-control(type='text', placeholder='Clothing')
          .col-sm-2
            input#inputProfileHealthcare.form-control(type='text', placeholder='Healthcare')
          .col-sm-2
            input#inputProfileAlcohol.form-control(type='text', placeholder='Alcohol, tobacco')
          .col-sm-2
            input#inputProfileCommunication.form-control(type='text', placeholder='Communication')
          .col-sm-offset-2.col-sm-2
            input#inputProfileOther.form-control(type='text', placeholder='Other expenses')
          label#totalE.col-sm-2.control-label
        .form-group
          .col-sm-offset-2.col-sm-10
            button#btnAddProfile.btn.btn-success Add profile

    h2 Edit profile
    #editProfile.notDisplayed
      form.form-horizontal
        input#editProfileId(type='hidden')
        .form-group
          label.col-sm-2.control-label(for="editProfileGender") Gender
          .col-sm-10
            .radio-inline
              label
                input(type='radio', name='editProfileGender', value='Male')
                |Male
            .radio-inline
              label
                input(type='radio', name='editProfileGender', value='Female')
                |Female
        .form-group
          label.col-sm-2.control-label(for="editProfileName") Name
          .col-sm-10
            input#editProfileName.form-control(type='text', placeholder='Profile name')
        .form-group
          label.col-sm-2.control-label(for="editProfileImage") Image
          .col-sm-10.listProfileImages
        .form-group
          label.col-sm-2.control-label(for="editProfileMaritalStatus") Marital status
          .col-sm-10
            .radio-inline
              label
                input(type='radio', name='editProfileMaritalStatus', value='Single')
                |Single
            .radio-inline
              label
                input(type='radio', name='editProfileMaritalStatus', value='Married')
                |Married
            .radio-inline
              label
                input(type='radio', name='editProfileMaritalStatus', value='Divorced')
                |Divorced
            .radio-inline
              label
                input(type='radio', name='editProfileMaritalStatus', value='Widowed')
                |Widowed
        .form-group
          label.col-sm-2.control-label(for="editProfileProfession") Profession
          .col-sm-10
            input#editProfileProfession.form-control(type='text', placeholder='Profession')
        .form-group
          label.col-sm-2.control-label(for="editProfileDescription") Description
          .col-sm-10
            textarea#editProfileDescription.form-control(type='text', placeholder='Description')
        .form-group
          label.col-sm-2.control-label Income
          .col-sm-2
            input#editProfileSalary.form-control(type='text', placeholder='Salary')
          .col-sm-2
            input#editProfileSocialWelfare.form-control(type='text', placeholder='Social welfare')
          label#totalI.col-sm-2.control-label 
        .form-group
          label.col-sm-2.control-label Expenses
          .col-sm-2
            input#editProfileRent.form-control(type='text', placeholder='Rent')
          .col-sm-2
            input#editProfileEnergy.form-control(type='text', placeholder='Energy')
          .col-sm-2
            input#editProfileFood.form-control(type='text', placeholder='Food')
          .col-sm-2
            input#editProfileTransportation.form-control(type='text', placeholder='Transportation')
          .col-sm-2
            input#editProfileEducation.form-control(type='text', placeholder='Education, leisure, culture')
          .col-sm-offset-2.col-sm-2
            input#editProfileRestaurants.form-control(type='text', placeholder='Restaurants')
          .col-sm-2
            input#editProfileClothing.form-control(type='text', placeholder='Clothing')
          .col-sm-2
            input#editProfileHealthcare.form-control(type='text', placeholder='Healthcare')
          .col-sm-2
            input#editProfileAlcohol.form-control(type='text', placeholder='Alcohol, tobacco')
          .col-sm-2
            input#editProfileCommunication.form-control(type='text', placeholder='Communication')
          .col-sm-offset-2.col-sm-2
            input#editProfileOther.form-control(type='text', placeholder='Other expenses')
          label#totalE.col-sm-2.control-label
        .form-group
          .col-sm-offset-2.col-sm-10
            button#btnEditProfile.btn.btn-success Edit profile

  script(src='/javascripts/admin/profilescript.js')
