extends layout

block content
  .container
    h2 Resources List
    #resourceList.list
      table
        thead
          th Name
          th Unit
          th Default Value
          th Shared
          th Delete
        tbody
    h2 Add a resource
    #newResource
      fieldset
        input#inputResourceName(type='text', placeholder='Resource')
        label Shared resource ?
          input#inputResourceShared(type='checkbox')
        br
        input#inputResourceValue(type='text', placeholder='Default Value')
        input#inputResourceUnit(type='text', placeholder='unit')
        br
        button#btnAddResource Add

  script(src='/javascripts/admin/resourcescript.js')

