extends layout

block content
  .container
    h2 Resources List
    #resourceList.list
      table
        thead
          th Name
          th Unit
          th Default Value
          th Shared
          th Delete
        tbody

    h2#displayAddForm.displayTitle New resource 
      span.caret
    #newResource
      form.form-horizontal
        .form-group
          label.col-sm-2.control-label(for="inputResourceName") Name
          .col-sm-10
            input#inputResourceName.form-control(type='text', placeholder='Resource')
        .form-group
          label.col-sm-2.control-label(for="inputResourceShared") Type
          .col-sm-10
            .checkbox
              label
                input#inputResourceShared(type="checkbox") 
                | Shared resource
        .form-group
          label.col-sm-2.control-label(for="inputResourceValue") Default value
          .col-sm-10
            input#inputResourceValue.form-control(type='text', placeholder='Default value')
        .form-group
          label.col-sm-2.control-label(for="inputResourceUnit") Unit
          .col-sm-10
            input#inputResourceUnit.form-control(type='text', placeholder='Unit')
        .form-group
          .col-sm-offset-2.col-sm-10
            button#btnAddResource.btn.btn-success Add resource

  script(src='/javascripts/admin/resourcescript.js')

