extends layout

block content
  #wrapper
    h2 Resources List
    #resourceList.list
      table
        thead
          th Name
          th Delete
        tbody
    h2 Add a resource
    #newResource
      fieldset
        input#inputResourceName(type='text', placeholder='Resource')
        label Shared resource ?
          input#inputResourceCommon(type='checkbox')
        br
        button#btnAddResource Add

  script(src='/javascripts/resourcescript.js')

