extends layout

block content
  .container
    #myactions
      h4 Mes actions
      table.table
        thead
          tr
            th Nom
            th Description
            th Déclencher
        tbody
  script(src='/javascripts/actionscript.js')

