extends layout

block content
	.container
		h2 Gestion du budget
		h3 Revenus
		table.table.table-striped.table-bordered.table-hover
			tr
				th Catégorie
				th %
				th Montant
			tr
				td Salaire mensuel
				td 86 %
				td 1280
			tr
				td Aides sociales
				td 14 %
				td 210
			tr
				th Total
				th 100 %
				th 1490

		h3 Dépenses
		table.table.table-striped.table-bordered.table-hover
			tr
				th Catégorie
				th %
				th Montant
			tr
				td Logement
				td 42 %
				td 600
			tr
				td Alimentation
				td 21,1 %
				td 300
			tr
				td Transports
				td 11 %
				td 150
			tr
				td Loisirs, éducation, culture
				td 7 %
				td 100
			tr
				td Cafés, restaurants, hôtes
				td 3,5 %
				td 50
			tr
				td Habillement
				td 3,5 %
				td 50
			tr
				td Santé
				td 3,5 %
				td 50
			tr
				td Boissons alcoolisées et tabac
				td 1,4 %
				td 20
			tr
				td Communications
				td 3,5 %
				td 50
			tr
				td Autres dépenses
				td 3,5 %
				td 50
			tr
				th Total
				th 100 %
				th 1420