extends layout

block content
  .container
    .profil.commun.col-sm-5
      h3 Profil

    #budget.objectif.individuel.col-sm-6.col-sm-offset-1
      h3 Budget
    #consommation.objectif.individuel.col-sm-6.col-sm-offset-1
      h3 Consommation
    .objectif.individuel.col-sm-6.col-sm-offset-1
      h3 Satisfaction

  script(src='/javascripts/indexscript.js')
