extends layout

block content
  h1= title
  p Welcome to #{title}

  // WRAPPER
  #wrapper

    #objectivesCommon
      h2 Liste des objectifs communs

    #objectivesIndiv
      h2 Liste des objectifs individuels
    #new
   // /WRAPPER
  script(src='/javascripts/playerscript.js')

