extends layout

block content
  .container
    .profil.commun.col-sm-5
      h3
        #profileContent Aucun profil ne vous a été attribué.

    #budget.objectif.individuel.col-sm-6.col-sm-offset-1
      h3 Budget
      p Vous pouvez consulter votre budget mensuel en cliquant ici.
    #shop.objectif.individuel.col-sm-6.col-sm-offset-1
      h3 Boutique
      p C'est ici que vous pourrez acheter un frigo pour faire des bonnes pates carbo !
    #actions.objectif.individuel.col-sm-6.col-sm-offset-1
      h3 Actions
      p Les actions sont des cartes qui vous permettent d'agir directement sur vos ressources.

  script(src='/javascripts/indexscript.js')
