extends layout

block content
  .container
    #objectList
      table.table
        thead
          tr
            th Nom
            th Prix
            th Acheter
        tbody

  script(src='/javascripts/objectscript.js')
