extends layout

block content
  .container
    #new
    #objectives
      #objectivesCommon.col-sm-6
        h2 Liste des objectifs communs

      #objectivesIndiv.col-sm-6
        h2 Liste des objectifs individuels
  script(src='/javascripts/playerscript.js')

