extends layout

block content
  #wrapper
    #objectifInfo
      h2 Objectif Info
      p
        strong Titre:
        |  <span id='objectifInfoTitle'></span>
        br
        strong Description :
        |  <span id='objectifInfoDescription'></span>
        br
        strong Ressource :
        |  <span id='objectifInfoResource'></span>
        br
        strong A Atteindre :
        |  <span id='objectifInfoAchieve'></span>
        br

    h2 Objectif List
    #objectifList
      table
        thead
          th Titre
          th Description
          th Delete?
        tbody
    h2 Ajouter  un objectif
    #addObjectif
      fieldset
        input#inputObjectifTitle(type='text', placeholder='Nom de l objectif')
        input#inputObjectifDescription(type='text', placeholder='Description')
        br
        input#inputObjectifResource(type='text', placeholder='Ressource')
        input#inputObjectifAchieve(type='text', placeholder='Effet')
        br
        button#btnAddObjectif Ajouter

  h2 Editer un objectif
  #editObjectif
    fieldset
      input#editObjectifId(type='hidden')
      input#editObjectifTitle(type='text', placeholder='Nom de l objectif')
      input#editObjectifDescription(type='text', placeholder='Description')
      br
      input#editObjectifResource(type='text', placeholder='Ressource')
      input#editObjectifAchieve(type='text', placeholder='Effet')
      br
      button#btnEditObjectif Editer
  script(src='/javascripts/objectifscript.js')
