.tile {
  width: 50px;
  z-index: 1;
}

#map img {
  position: absolute;
}

#info {
  margin-left: 10px;
  //float: left;
}

#joueurs {
  margin-left: 10px;
  float: left;
}

.tree{
  z-index: 2;
}

.eolienne {
  height: 50px;
}

.house {
  height: 150px;
}

.bus {
  height: 40px;
}

.sidebar-nav-fixed {
  padding: 9px 0;
  position:fixed;
  left:20px;
  top:60px;
  width:250px;
}

@media (max-width: 767px) {
 .sidebar-nav-fixed {
   width:auto;
 }
}

@media (max-width: 979px) {
 .sidebar-nav-fixed {
   position:static;
   width: auto;
 }
}

ul {
  list-style-type: none;
}

.joueur {
  z-index: 100;
}

.message {
 z-index: 100;
}
