.tile {
  width: 50px;
  z-index: 1;
}

img {
  position: absolute;
}

#info {
  margin-left: 10px;
  //float: left;
}

#joueurs {
  margin-left: 10px;
  float: left;
}

.tree{
  z-index: 2;
}

.eolienne {
  height: 50px;
}

.house {
  height: 150px;
}

.bus {
  height: 40px;
}
